@import 'reset';
@import 'general';
@import '_modal';
@import 'variables';
@import 'typography';
@import 'svg';
@import 'mobile';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
